/* Login.html */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;}

.content {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
	height: 100%;}

 #btnLog {
	position: relative;
	top:60%;
	width:30%;}

/*Homepage.html */

#bodyhome {
	margin-top:0;}

#logo {
	width:50%;}
	
.fixed {
    min-height:90px;
    max-width:100%;
    background-color:red;
    transition: background 500ms;}
    
.navbar-light .navbar-nav .active>.nav-link {
	color:#f8f9fa;	}
	
.navbar-light .navbar-nav .nav-link {
	color:#f8f9fa;	}
    
	#LinkAccount {
	font-weight:bold;
	margin-right:1%;}
	
#banner {
	width:100%;
	margin-top:10%;}
	

@media (max-width: 575px) {
	#btnLog {
	width:initial;
	}
}

/*PagRisto.html */
#preSpento {
	border-style:solid;
	border-color:#bebebe;
	margin-top:2%;
	margin-bottom:auto;
	background-color:#ffd451;
}
/*scrollbar prenotazione*/
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}

